:root{
    --primary: #191C44;
    --secondary: #1A1D79;
    --tertiary: #0587cc;
    --text: #F3F3F3;
    --dark: #05051A;
    --radius: 18px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: #000;
    color: var(--text);
    font-family: 'Chivo', sans-serif;
    position: relative;
}

h1, h2 {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1 {
    position: absolute;
    pointer-events: none;
    display: block;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 20px;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

.ico {
    width: 1em;
    height: 1em;
}

@media (max-width: 560px) {
    h1 {
        top: 2px;
    }
}